<h3>Create an Account</h3>
<form (ngSubmit)="onSubmit()" class="ui form" [formGroup]="authForm">
 
<app-input
    inputType="text"
    label="Username"
    [control]="authForm.get('username')"
    >
</app-input>
<app-input 
    inputType="password"
    label="Password"
    [control]="authForm.get('password')"
></app-input>
<app-input
    inputType="password"
    label="Password Confirmation" 
    [control]="authForm.get('passwordConfirmation')"
    >
</app-input>

<div 
    class="ui red basic label"
    *ngIf="authForm.get('password').touched &&
    authForm.get('passwordConfirmation').touched && 
    authForm.errors" 
    >
    <p *ngIf="authForm.errors.passwordDontMatch">
        password and password Confirmation must be match
    </p>
    <p *ngIf="authForm.errors.noConnection">
    no internet connection detected, failed to signup
    </p>
    <p *ngIf="authForm.errors.unKnownError">
         Failed to signup
        </p>

</div>
    <button class="ui submit button primary">
        Submit
    </button>
</form>
