<!-- <app-section-two></app-section-two> -->

<!-- <app-cards *ngFor = "let post of posts "
[title]="post.title"
[imageUrl]="post.imageUrl"
[username]="post.username"
[content]="post.content"
></app-cards> -->

<!-- <app-typing>

</app-typing> -->

<!-- <app-pipes></app-pipes> -->

<!-- <app-pages></app-pages> -->

<!-- <app-element-home></app-element-home> -->

<!-- <app-collection-home></app-collection-home> -->

<div class="ui container">
    <div class="ui secondary pointing menu">
        <a routerLink="/elements" routerLinkActive="active" class="item"> Element </a>
        <a routerLink="/collection"  routerLinkActive="active" class="item"> Collection </a>
        <a routerLink="/view"  routerLinkActive="active" class="item"> Views </a>
        <a routerLink="/modules"  routerLinkActive="active" class="item"> Modules </a>

    </div>
</div>
<div class="ui segment">
    <router-outlet></router-outlet>
</div>