<!-- <app-section-two></app-section-two> -->

<!-- <app-cards *ngFor = "let post of posts "
[title]="post.title"
[imageUrl]="post.imageUrl"
[username]="post.username"
[content]="post.content"
></app-cards> -->

<!-- <app-typing>

</app-typing> -->

<!-- <app-pipes></app-pipes> -->

<!-- <app-pages></app-pages> -->

<!-- <app-element-home></app-element-home> -->

<!-- <app-collection-home></app-collection-home> -->

<!-- <div class="ui container">
    <div class="ui secondary pointing menu">
        <a routerLink="/elements" routerLinkActive="active" class="item"> Element </a>
        <a routerLink="/collection"  routerLinkActive="active" class="item"> Collection </a>
        <a routerLink="/view"  routerLinkActive="active" class="item"> Views </a>
        <a routerLink="/modules"  routerLinkActive="active" class="item"> Modules </a>

    </div>
</div>
<div class="ui segment">
    <router-outlet></router-outlet>
</div> -->
<!-- 

<div class="container">
    <app-search-bar (submitted)="onTerm($event)" ></app-search-bar>
    <app-page-list *ngIf="pages.length" [pages]="pages" ></app-page-list>
</div> -->

<!-- <app-photo></app-photo> -->

<!-- <app-card-forms> </app-card-forms> -->

<!-- <app-email-form></app-email-form> -->

<!-- <app-equation></app-equation> -->

<div class="ui container">
    <div class="ui secondary pointing menu">
        <a routerLink="/" class="item">
            Angular Email
        </a>
        <div class="right menu">
            <ng-container *ngIf="signedin$  | async">
                <a 
                routerLink="/inbox" 
                class="ui item" 
                routerLinkActive="active"
                >Inbox
                </a>
                <a 
                routerLink="/signout" 
                class="ui item" 
                routerLinkActive="active"
                >Sign Out
                </a>
            </ng-container>
            <ng-container *ngIf="!(signedin$ | async)">
                <a 
                routerLink="/" 
                class="ui item"
                [routerLinkActiveOptions]="{ exact: true}" 
                routerLinkActive="active"
                >Sign In
                </a>
                <a 
                routerLink="/signup" 
                class="ui item" 
                routerLinkActive="active"
                >Sign Up
                </a>
            </ng-container>
        </div>
    </div>
    <router-outlet></router-outlet>
</div>



